@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

html {
  scroll-behavior:smooth;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blog-content p {
  font-size:14px;
  margin:0.4rem 0;
}


.blog-content h3,
.blog-content h2,
.blog-content h4,
.blog-content h5 {
  font-weight:600;
}

.blog-content img {
  margin:0.8rem 0;
}

.skeleton-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
}

  .skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(255,255,255, 0) 0,
        rgba(255,255,255, 0.2) 20%,
        rgba(255,255,255, 0.5) 60%,
        rgba(255,255,255, 0));
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }